<section id="footer-section">
    <a class="footer-link" id="footer-home-link" href="https://chineseflix.com/" target="_self">家</a>
    <div class="footer-link-section">
        <a class="footer-link" id="footer-about-link" href="https://chineseflix.com/about" target="_self">关于我们</a>
        <a class="footer-link" id="footer-subtitle-link" href="https://chineseflix.com/subtitles"
            target="_self">字幕指南</a>
    </div>
    <div class="footer-link-section">
        <a class="footer-link" id="footer-privacy-link" href="https://chineseflix.com/privacy" target="_self">隐私政策</a>
        <a class="footer-link" id="footer-terms-link" href="https://chineseflix.com/terms" target="_self">使用条款</a>
        <a class="footer-link" id="footer-contact-link" href="https://chineseflix.com/contact" target="_self">联系我们</a>
    </div>
</section>
<div id="copyright">
    <h6>版权 2024 ChineseFlix.com 版权所有。</h6>
</div