<a id="app-name" href="http://localhost:8080" target="_self">ChineseFlix</a>
<div id="about-link-container"><a id="about-link" href="http://localhost:8080/about" target="_self">关于我们</a><a
        id="login-link" href="http://localhost:8080/login" target="_self">登录</a></div>