<div id="menuIconWrapper" class="menu_icon_wrapper">
    <div class="menuIcon"></div>
    <div class="menuIcon"></div>
    <div class="menuIcon"></div>
    <div class="menuIcon"></div>
</div>
<a id="app-name" href="https://chineseflix.com/" target="_self">ChineseFlix</a>
<div id="about-link-container">
    <a id="about-link" href="https://chineseflix.com/about" target="_self">关于我们</a>
    <a id="chinese-link" href="https://chineseflix.com/chinese" style="display: none;" target="_self">中国的</a>
    <a id="hollywood-link" href="https://chineseflix.com/hollywood" style="display: none;" target="_self">好莱坞</a>
    <a id="subtitle-help-link" href="https://chineseflix.com/subtitles" target="_self">
        字幕指南
    </a>
    <a id="login-link" href="https://chineseflix.com/login" target="_self" style="display: none;">登录</a>
    <a id="contact-link" href="https://chineseflix.com/contact" target="_self">联系我们</a>
</div>