<div id="menuIconWrapper" class="menu_icon_wrapper">
    <div class="menuIcon"></div>
    <div class="menuIcon"></div>
    <div class="menuIcon"></div>
    <div class="menuIcon"></div>
</div>
<a id="app-name" href="https://chineseflix.com/" target="_self">ChineseFlix</a>
<div id="about-link-container">
    <a id="about-link" href="https://chineseflix.com/about" target="_self">关于我们</a>
    <a id="subtitle-help-link" href="https://chineseflix.com/subtitles" target="_self">
        字幕指南
    </a>
    <a id="login-link" href="http://localhost:8080/login" target="_self">登录</a>
    <a id="account-link" href="" target="_self" style="display: none;">帐户</a>
    <a id="contact-link" href="https://chineseflix.com/contact" target="_self">联系我们</a>
</div>