<nav id="mobile-nav-links-parent" class="mobile_navigation_links">
    <div id="mobile-nav-links-wrapper" class="mobile_display_flex_column">
        <a id="mobile-home-link" class="mobile-link" href="https://chineseflix.com/" target="_self"><span>家</span></a>
        <a id="mobile-about-link" class="mobile-link" href="https://chineseflix.com/about"
            target="_self"><span>关于我们</span></a>
        <a id="mobile-chinese-link" class="mobile-link" href="https://chineseflix.com/chinese"
            target="_self"><span>中国的</span></a>
        <a id="mobile-hollywood-link" class="mobile-link" href="https://chineseflix.com/hollywood"
            target="_self"><span>好莱坞</span></a>

        <a id="mobile-login-link" class="mobile-link" href="https://chineseflix.com/login"
            target="_self"><span>登录</span></a>
        <a id="mobile-account-link" class="mobile-link" href="https://chineseflix.com/account"
            target="_self"><span>帐户</span></a>
        <a id="mobile-contact-link" class="mobile-link" href="https://chineseflix.com/contact"
            target="_self"><span>联系我们</span></a>
        <a id="mobile-subtitle-help-link" class="mobile-link" href="https://chineseflix.com/subtitles" target="_self">
            <span>字幕指南</span>
        </a>
    </div>
</nav>