*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

:root {
  --white: #ffff;
}

main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--white);
  filter: brightness(110%);
}

header {
  width: 100%;
  position: relative;
  padding: 2% 0 2% 0;
  display: flex;
  justify-content: center;
}

#app-name {
  font-family: "Reenie Beanie", cursive;
  font-weight: 600;
  font-style: normal;
}
