*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffff;
  --Noto: "Noto Serif SC";
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: none;
}

@media screen and (min-width: 270px) {
  body {
    display: block;
    height: 100vh;
    min-height: 100vh;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;

    margin: 0;
    background-color: var(--white);
    filter: brightness(110%);
  }

  #home-main {
    justify-content: flex-start;
    row-gap: 85px;
  }

  #about-main {
    row-gap: 60px;
    justify-content: space-between;
  }

  #account-main {
    justify-content: space-between;
    row-gap: 55px;
  }

  header {
    width: 100%;
    height: 65px;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 2;
    padding: 2% 3%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px #000;
    backdrop-filter: saturate(50%) blur(25px);
    -webkit-backdrop-filter: saturate(50%) blur(25px);
  }

  /**Hamburger Menu*/
  .menu_icon_wrapper {
    background-color: inherit;
    position: absolute;
    display: block;
    left: 3%;
    height: 45px;
    width: 35px;
    cursor: pointer;
  }

  .menuIcon {
    display: block;
    background-color: black;
    filter: brightness(120%) contrast(120%);
    width: 100%;
    height: 4.5px;
    left: 0px;
    border-radius: 3px;
    position: absolute;
    -webkit-transform: rotate(0deg) translateX() left width top;
    -moz-transform: rotate(0deg) translateX() left width top;
    -o-transform: rotate(0deg) translateX() left width top;
    transform: rotate(0deg) translateX() left width top;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }

  .menuIcon:nth-child(1) {
    top: 4px;
  }

  .menuIcon:nth-child(2),
  .menuIcon:nth-child(3) {
    top: 19px;
  }

  .menuIcon:nth-child(4) {
    top: 34px;
  }

  /*mobile navigation links*/
  #mobile-nav-links-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 200px;
    row-gap: 17px;
    left: 0;
    top: -150%;
    z-index: 1;
    box-shadow: 0 0 10px #000;
    opacity: 0.95;
  }

  #mobile-nav-links-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  .mobile-link {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

    font-family: var(--Noto), sans-serif;
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    height: 33%;
  }

  #mobile-home-link,
  #mobile-about-link {
    border-bottom: 1px solid black;
  }

  #app-name {
    position: relative;
    display: block;
    font-family: "Bebas Neue", "Reenie Beanie", system-ui;
    font-weight: 600;
    font-size: 19px;
    font-style: normal;
    text-decoration: none;
    color: black;
  }

  #about-link-container {
    position: relative;
    display: none;
    /*change display to flex at wider breakpoint*/
    height: fit-content;
    width: fit-content;
    padding: 1px;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
    font-family: "Noto Serif SC";
  }

  #about-link-container > a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    color: black;
  }

  #about-link-container > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .margin-top-add {
    margin-top: 20px;
  }

  #top-12-heading {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #top-12-h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
  }

  #top-12-h1 > span {
    white-space: normal;
    font-family: "Noto Serif SC", sans-serif, "LXGW WenKai TC", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
  }

  #reviews-container {
    position: relative;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
  }

  .movie-review-parent {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    width: 100%;
    height: fit-content;
    font-family: var(--Noto), sans-serif;
  }
  .img-parent {
    position: relative;
    width: 100%;
    width: 100%;
    max-width: 500px;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  }

  .movie-still {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .title-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
  }

  .cast-crew-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 15px;
    width: 100%;
    max-width: 500px;
  }

  .cast-crew-info,
  .rating-runtime {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
  }

  .link-parent {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
  }

  .streaming-link {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 16px;
    font-family: var(--Noto), sans-serif;
    box-shadow: 0px 25px 75px -4px rgba(0, 0, 0, 0.45);
  }

  .streaming-link:hover {
    color: red;
    text-decoration: underline;
  }

  .review {
    width: 100%;
    max-width: 500px;
    line-height: 1.6;
  }

  /*About Us Page */
  #about-section {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: center;
    align-items: center;
  }

  #about-video {
    width: 80%;
    max-width: 530px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
  }

  #about-us-heading {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10%;
  }

  #about-us-body {
    padding: 0 10%;
    max-width: 440px;
  }

  #about-text {
    line-height: 1.6;
    font-weight: 550;
    font-family: var(--Noto) sans-serif;
  }

  /*Account Page*/
  #account-section {
    position: relative;
    width: 85%;
    max-width: 450px;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2%;
  }

  /*Contact Page*/
  #contact-main {
    justify-content: space-between;
    row-gap: 60px;
  }

  #contact_container {
    position: relative;
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    align-items: center;
    background-color: inherit;
    overflow-x: hidden;
  }

  #contact_container h1 {
    font-family: var(--Noto), sans-serif;
    width: 100%;
    height: fit-content;
    text-align: center;
    color: black;
  }

  #contact_container > form {
    position: relative;
    width: 260px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 25px;
    align-items: center;
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    padding: 11px 0;
    margin: 0 auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  #contact_container > form > input,
  #contact_container > form > textarea {
    width: 85%;
    max-width: 85%;
    color: black;
    background-color: whitesmoke;
    font-family: var(--Noto), sans-serif;
  }

  #contact_container > form > textarea {
    height: 225px;
    min-height: 225px;
  }

  #contact_container > form > input::placeholder {
    color: black;
    font-weight: 850;
    font-family: var(--Noto), sans-serif;
    font-size: small;
    background-color: whitesmoke;
  }

  #contact_container > form > textarea::placeholder {
    color: black;
    font-weight: 850;
    font-family: var(--Noto), sans-serif;
    font-size: small;
    background-color: whitesmoke;
  }

  #contact_container > form > button {
    width: 90px;
    max-width: 90px;
    height: 45px;
    color: black;
    background-color: whitesmoke;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    font-family: var(--Noto), sans-serif;
    font-size: small;
    text-align: center;
    overflow-wrap: normal;
    overflow: hidden;
    opacity: 0.85;
    transition: all 0.2s ease-in-out;
    position: relative;
    border-radius: 10px;
    border-color: black;
  }

  #contact_container > form > button > .alt-send-button {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
  }

  #contact_container > form > button > .alt-send-button > .send-text {
    position: relative;
    display: block;
    margin-top: 10%;
    font-size: medium;
    font-weight: 800;
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
  }

  #contact_container > form > button > div > img {
    width: 40%;
    height: 40%;
    position: relative;
    margin-top: 30%;
  }

  #contact_container > form > button:hover {
    opacity: 1;
    cursor: pointer;
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }

  #contact_container > form > button > .alt-send-button:hover {
    transform: translate3d(0px, -108%, 0px);
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }

  #contact_container > form > button:active {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
    transform: scale(0.95);
  }

  /*Privacy page */
  #privacy-main {
    justify-content: space-between;
    row-gap: 55px;
  }

  #privacy-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    max-width: 500px;
    row-gap: 30px;
  }

  #privacy-text-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    row-gap: 25px;
  }

  .privacy-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
  }
  .privacy-div > p {
    line-height: 1.6;
  }

  /*Terms Page*/
  #terms-main {
    justify-content: space-between;
    row-gap: 55px;
  }

  #terms-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    max-width: 500px;
    row-gap: 30px;
  }

  #terms-text-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    row-gap: 25px;
  }

  .terms-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
  }
  .terms-div > p {
    line-height: 1.6;
  }

  /**Social Links*/
  #social-links-container {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 9px;
  }

  #social-links-parent {
    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
  }

  .social-links-tag {
    width: max-content;
    height: max-content;
    text-decoration: none;
  }

  .social-links-tag:hover {
    cursor: pointer;
  }

  .social-links-tag > image {
    width: 40px;
    filter: brightness(110%), contrast(120%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.55);
  }

  #social-links-container > p {
    font-family: var(--Noto), sans-serif;
    font-weight: 600;
  }

  /*Blog section*/
  #blog-parent {
    position: relative;
    top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;

    row-gap: 20px;
    width: 90%;
    max-width: 800px;
  }
  #blog-corner-h1 {
    position: relative;
    left: 0;
  }
  .blog-img {
    position: relative;
    width: 100%;
  }

  #blog-parent > p {
    line-height: 1.6;
    font-family: var(--Noto), sans-serif;
    width: 100%;
  }

  /*Footer*/
  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8px;
    align-items: center;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    height: fit-content;
    max-height: 400px;
    overflow: hidden;
    padding: 10px;
  }

  #footer-section {
    width: 100%;
    position: relative;
    row-gap: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-link {
    font-family: var(--Noto), sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    color: black;
  }
  .footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  #footer-link-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  #copyright {
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3px;
  }

  #copyright > h6 {
    font-family: var(--Noto) sans-serif;
    font-weight: 450;
    font-size: 8.5px;
  }
}

@media screen and (min-width: 340px) {
  #top-12-h1 > span {
    font-size: 36px;
  }
}

@media screen and (min-width: 430px) {
  #top-12-h1 > span {
    font-size: 40px;
  }
}

@media screen and (min-width: 500px) {
  #app-name {
    font-size: 22px;
  }

  #about-link-container > a,
  .footer-link {
    font-size: 13px;
  }

  #copyright > h6 {
    font-size: 9px;
  }
}

@media screen and (min-width: 510px) {
  #top-12-h1 > span {
    font-size: 50px;
  }
}

@media screen and (min-width: 675px) {
  #app-name {
    font-size: 29px;
  }

  #about-link-container > a,
  .footer-link {
    font-size: 15px;
  }

  #copyright > h6 {
    font-size: 11px;
  }
  #top-12-h1 > span {
    font-size: 57px;
  }
}

@media screen and (min-width: 800px) {
  #top-12-h1 > span {
    font-size: 60px;
  }
  #contact_container > form {
    width: 450px;
  }
}

@media screen and (min-width: 900px) {
  #mobile-nav-links-parent,
  #menuIconWrapper {
    display: none;
  }
  header {
    justify-content: space-between;
    box-shadow: 0 0 0;
  }
  #about-link-container {
    display: flex;
  }
}

@media screen and (min-width: 1300px) {
  #app-name {
    font-size: 33px;
  }
  #about-link-container > a,
  .footer-link {
    font-size: 17px;
  }

  #copyright > h6 {
    font-size: 12px;
  }

  #top-12-h1 > span {
    font-size: 75px;
  }
}
