<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="about-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <nav id="mobile-nav-links-parent" class="mobile_navigation_links">
            <div id="mobile-nav-links-wrapper" class="mobile_display_flex_column">
                <a id="mobile-home-link" class="mobile-link" href="http://localhost:8080/"
                    target="_self"><span>家</span></a>
                <a id="mobile-about-link" class="mobile-link" href="http://localhost:8080/about"
                    target="_self"><span>关于我们</span></a>
                <a id="mobile-contact-link" class="mobile-link" href="http://localhost:8080/contact"
                    target="_self"><span>联系我们</span></a>
            </div>
        </nav>
        <video id="about-video" class="margin-top-add" autoplay>
            <source src="Asian_Kid_Popcorn.mp4" type="video/mp4">
        </video>
        <section id="about-section">
            <div id="about-us-heading">
                <h1>关于我们</h1>
            </div>
            <div id="about-us-body">
                <p id="about-text">
                    欢迎来到ChineseFlix！我们的使命是提供精心挑选的带中文字幕的电影推荐，让中文观众更轻松地观看电影。我们每月更新列表，以确保您始终有新鲜的选择。每条推荐都包括简短的评论、背景信息和仅限会员的评级功能（即将推出！）。<br><br>将我们视为您电影推荐的最终目的地。今天就加入我们不断壮大的电影爱好者社区吧！
                </p>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>

    </main>
    <%- include('./partials/events.ejs') %>
</body>

</html>