<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="about-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <section id="about-section">
            <div id="about-us-heading">
                <h1>关于我们</h1>
            </div>
            <div id="about-us-body">
                <p>客户很重要，有了客户才会跟着客户。自由武士的生活。但据说这是一个生态瓮。舰队需要大量时间。
                    永远是自由的，永远是被追寻的。没有什么是容易的。儿童与疾病、老年和儿童一起生活，他们遭受着饥饿和贫困。
                    就在中午，我感到恐惧。但航空公司的酵母层。我感冒或头痛，但我怀孕了。这样既不上网也不悲门。为了装饰除了成员之外的时间。
                    非骚扰精英精。现在，现在时不时地期待着基础故事。对于小组成员来说，站在小组前面很重要。
                </p>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </main>
</body>

</html>