<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="about-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <video id="about-video" autoplay>
            <source src="Asian_Kid_Popcorn.mp4" type="video/mp4">
        </video>
        <section id="about-section">
            <div id="about-us-heading">
                <h1>关于我们</h1>
            </div>
            <div id="about-us-body">
                <p id="about-text">
                    欢迎来到
                    ChineseFlix！我们的使命是提供精心挑选的电影推荐和中文字幕，让讲中文的观众更轻松地观看电影。我们每月更新列表，以确保您始终有新鲜的选择。每项推荐都包括简短的评论、背景信息和会员专属评级功能（即将推出！）。请将我们视为您电影推荐的终极目的地。立即加入我们不断壮大的电影爱好者社区！
                </p>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </main>
</body>

</html>