<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="account-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <section id="account-section">
            <form id="account-form">

            </form>
        </section>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </main>
</body>

</html>