<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="home-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <div id="top-12-heading">
            <h1 id="top-12-h1">
                <span id="twelve-of">12部</span>
                <span id="the-best">最佳电影</span>
                <span id="movies-online">本月在线上映.</span>
                <span id="chinese-subtitles">（全部有中文字幕）</span>
            </h1>
        </div>
        <section id="reviews-container">
            <article id="movie-1" class="movie-review-parent">
                <div class="img-parent">
                    <img class="movie-still" src="/scarface210.jpg">
                </div>
                <div class="title-parent">
                    <h3 class="movie-title">Scarface</h3>
                    <h5 class="year">(1983)</h5>
                </div>
                <div class="cast-crew-container">
                    <div class="cast-crew-info">
                        <h5 class="starring">主演: Al Pacino, Michelle Pfieffer</h5>
                        <h5 class="director">导演: Brian De Palma</h5>
                        <h5 class="writer">作家: Oliver Stone, Howard Hawks, Ben Hecht</h5>
                    </div>
                    <div class="rating-runtime">
                        <h5 class="runtime">分钟: 165</h5>
                        <h5 class="rated">等级: R</h5>
                    </div>
                </div>
                <div class="link-parent"><a class="streaming-link" href="" target="_blank">可在: Netflix</a></div>
                <h4 class="review">
                    客户很重要，有了客户才会跟着客户。但笔者是纯粹为了宽松政策而付出的代价。直到目标。对于孩子来说很容易，需要作者的投入和就像一块巧克力，但为了毒药的时代，免费的医疗漫画来宣传，但为了地球需要前的兴奋剂。使得可以追捕。明天同样令人兴奋。现在已经没有笑或者笑的元素了。篮球队的员工。家门口的孩子，也没有对生命的恐惧。不存在蛋白质泄漏的因素。
                    客户很重要，有了客户才会跟着客户。但笔者是纯粹为了宽松政策而付出的代价。直到目标。对于孩子来说很容易，需要作者的投入和就像一块巧克力，但为了毒药的时代，免费的医疗漫画来宣传，但为了地球需要前的兴奋剂。使得可以追捕。明天同样令人兴奋。现在已经没有笑或者笑的元素了。篮球队的员工。家门口的孩子，也没有对生命的恐惧。不存在蛋白质泄漏的因素。
                    客户很重要，有了客户才会跟着客户。但笔者是纯粹为了宽松政策而付出的代价。直到目标。对于孩子来说很容易，需要作者的投入和就像一块巧克力，但为了毒药的时代，免费的医疗漫画来宣传，但为了地球需要前的兴奋剂。使得可以追捕。明天同样令人兴奋。现在已经没有笑或者笑的元素了。篮球队的员工。家门口的孩子，也没有对生命的恐惧。不存在蛋白质泄漏的因素。
                </h4>

            </article>
        </section>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </main>
    <script>
        const DOMAIN = '<%=DOMAIN%>'
    </script>
</body>

</html>