<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="home-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <div id="top-12-heading">
            <h1 id="top-12-h1">
                <span id="twelve-of">12部</span>
                <span id="the-best">最佳电影</span>
                <span id="movies-online">本月在线上映.</span>
                <span id="chinese-subtitles">（全部有中文字幕）</span>
            </h1>
        </div>
        <section id="reviews-container">
            <article id="movie-1" class="movie-review-parent">
                <div class="img-parent">
                    <img class="movie-still" src="/the-good-nurse_.jpg">
                </div>
                <div class="title-parent">
                    <h3 class="movie-title">The Good Nurse</h3>
                    <h5 class="year">(2022)</h5>
                    <h6 class="studio">Netflix</h6>
                </div>
                <div class="cast-crew-container">
                    <div class="cast-crew-info">
                        <h5 class="starring">主演: Jessica Chastain, Eddie Redmayne, Denise Pillot</h5>
                        <h5 class="director">导演: Tobias Lindholm</h5>
                        <h5 class="writer">作家: Charles Graeber, Kristy Wilson-Cairns</h5>
                    </div>
                    <div class="rating-runtime">
                        <h5 class="runtime">分钟: 121</h5>
                        <h5 class="rated">等级: R</h5>
                    </div>
                </div>
                <div class="link-parent"><a class="streaming-link" href="" target="_blank">可在: Netflix</a></div>
                <h4 class="review">
                    The Good Nurse 是一部引人入胜的医疗惊悚片，在Netflix上吸引了众多观众，得益于其紧张的叙事和Jessica Chastain与Eddie Redmayne的精彩表演。由Tobias
                    Lindholm执导，这部电影基于真实故事，讲述了护士Amy Loughren (Chastain饰) 揭露同事Charles Cullen (Redmayne饰)
                    黑暗秘密的故事。影片紧张的氛围和令人难忘的配乐增强了令人毛骨悚然的叙事，使其成为真实犯罪剧迷的必看之作。Chastain对Amy的演绎既富有同情心又充满力量，而Redmayne对Cullen的表演则令人毛骨悚然，吸引观众进入故事的阴暗现实。

                    为了角色的真实性，Chastain和Redmayne都付出了极大的努力。Chastain与真实的Amy
                    Loughren相处，以了解她的经历并为角色增添深度。另一方面，Redmayne仔细研究了Cullen的举止和行为，以准确描绘他的阴险本性。此外，这部电影基于Charles
                    Graeber的调查书籍，该书历时七年完成，为故事增添了深度和现实感。这些努力使电影对这一可怕真实故事的描绘更加真实和沉浸，使The Good Nurse在真实犯罪类型中脱颖而出。</h4>

            </article>
            <article id="movie-2" class="movie-review-parent">
                <div class="img-parent">
                    <img class="movie-still" src="/rounders.jpg">
                </div>
                <div class="title-parent">
                    <h3 class="movie-title">Rounders</h3>
                    <h5 class="year">(1998)</h5>
                    <h6 class="studio">Miramax</h6>
                </div>
                <div class="cast-crew-container">
                    <div class="cast-crew-info">
                        <h5 class="starring">主演: Matt Damon, Edward Norton, Gretchen Mol</h5>
                        <h5 class="director">导演: John Dahl</h5>
                        <h5 class="writer">作家: David Levien, Brian Koppelman</h5>
                    </div>
                    <div class="rating-runtime">
                        <h5 class="runtime">分钟: 121</h5>
                        <h5 class="rated">等级: R</h5>
                    </div>
                </div>
                <div class="link-parent"><a class="streaming-link" href="" target="_blank">可在: YouTube</a></div>
                <h4 class="review">
                    Rounders 是一部引人入胜的剧情片，深入探讨了高赌注扑克的地下世界。由 John Dahl 执导，影片由 Matt Damon 饰演的法学院学生 Mike McDermott 和 Edward
                    Norton 饰演的鲁莽朋友
                    Lester “Worm” Murphy 主演。故事讲述了 Mike 在输掉全部积蓄给俄罗斯黑帮 Teddy KGB (John Malkovich 饰) 后，试图摆脱赌博生活。然而，当 Worm
                    出狱并将 Mike
                    拖回扑克世界以帮助偿还危险债务时，Mike 发现自己在承诺和游戏的诱惑之间左右为难。为了准备角色，Damon 和 Norton 深入了解了扑克世界，Damon 甚至参加了1998年的世界扑克系列赛。

                    影片的氛围真实而沉浸，扑克场景精心制作，反映了游戏的高赌注和巨大压力。Damon 的表演引人注目，捕捉到了 Mike 的内心挣扎和对扑克的热情，而 Norton
                    则为角色带来了魅力和不可预测性。总的来说，Rounders
                    是扑克和角色驱动剧情片爱好者必看的电影，提供了对游戏风险和回报的惊心动魄的洞察。</h4>

            </article>
            <article id="movie-1" class="movie-review-parent">
                <div class="img-parent">
                    <img class="movie-still" src="/rebel-ridge.jpg">
                </div>
                <div class="title-parent">
                    <h3 class="movie-title">Rebel Ridge</h3>
                    <h5 class="year">(2024)</h5>
                    <h6 class="studio">Netflix</h6>
                </div>
                <div class="cast-crew-container">
                    <div class="cast-crew-info">
                        <h5 class="starring">主演: Aaron Pierre, Don Johnson, AnnaSophia Robb</h5>
                        <h5 class="director">导演: Jeremy Saulnier</h5>
                        <h5 class="writer">作家: Jeremy Saulnier</h5>
                    </div>
                    <div class="rating-runtime">
                        <h5 class="runtime">分钟: 131</h5>
                        <h5 class="rated">等级: TV-MA</h5>
                    </div>
                </div>
                <div class="link-parent"><a class="streaming-link" href="" target="_blank">可在: Netflix</a></div>
                <h4 class="review">
                    Rebel Ridge 是一部引人入胜的惊悚片，由Jeremy Saulnier执导，他因执导Blue Ruin和Green Room而闻名。影片由Aaron
                    Pierre主演，饰演前海军陆战队员Terry
                    Richmond，他在路易斯安那州一个小镇上卷入了一场腐败和暴力的网络。当Terry试图保释他的堂兄时，被腐败的警察没收了他的资金，他必须在正义的道路上艰难前行。影片紧张的氛围和精心制作的动作场景让观众紧张不已，使其成为该类型中的佼佼者。

                    Jeremy Saulnier不仅执导了Rebel Ridge，还担任了影片的剪辑工作。他以创造紧张、氛围浓厚的惊悚片而闻名。他的前作如Blue Ruin和Green
                    Room，已确立了他在该类型中的大师地位。在Rebel
                    Ridge中，Saulnier继续探索生存和正义的主题，将他标志性的现实主义和悬疑风格带入影片。他对故事讲述和角色发展的细致处理，确保了Rebel Ridge既引人入胜又发人深省。</h4>

            </article>
        </section>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </main>
    <script>
        const DOMAIN = '<%=DOMAIN%>'
    </script>
</body>

</html>