<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main>
        <header>
            <h2 id="app-name">ChineseFlix</h2>
        </header>
        <div id="top-heading">
            <h1 id="top-h1">
                <span id="twelve-of">12部</span>
                <span id="the-best">最佳电影</span>
                <span id="movies-online">本月在线上映.</span>
                <span id="chinese-subtitles">（全部有中文字幕）</span>
            </h1>
        </div>

    </main>

</body>

</html>