<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="terms-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <nav id="mobile-nav-links-parent" class="mobile_navigation_links">
            <div id="mobile-nav-links-wrapper" class="mobile_display_flex_column">
                <a id="mobile-home-link" class="mobile-link" href="https://chineseflix.com/"
                    target="_self"><span>家</span></a>
                <a id="mobile-about-link" class="mobile-link" href="https://chineseflix.com/about"
                    target="_self"><span>关于我们</span></a>
                <a id="mobile-contact-link" class="mobile-link" href="https://chineseflix.com/contact"
                    target="_self"><span>联系我们</span></a>
            </div>
        </nav>
        <section id="terms-section" class="margin-top-add">

            <h1>条款和条件</h1>

            <h4>上次更新时间：2024 年 9 月 15 日</h4>
            <div id="terms-text-parent">
                <div class="terms-div">
                    <h2>1. 简介</h2>

                    <p>欢迎来到 ChineseFlix。这些条款和条件（“条款”）约束您对我们网站
                        ChineseFlix.com（“网站”）的使用。通过访问或使用本网站，您同意受这些条款的约束。如果您不同意这些条款的任何部分，则不得使用本网站。 </p>
                </div>

                <div class="terms-div">
                    <h2>2. 使用本网站</h2>

                    <p>资格：您必须年满 18 岁才能使用本网站。通过使用本网站，您声明并保证您符合此要求。
                        帐户注册：要访问某些功能，您可能需要注册一个帐户。您同意在注册期间提供准确和完整的信息，并保持您的帐户信息为最新。
                        禁止活动：您同意不从事以下任何禁止活动：
                        违反任何适用法律或法规。
                        侵犯他人的知识产权。
                        上传或传播病毒或其他有害代码。
                        从事任何破坏或干扰网站功能的活动。 </p>

                </div>
                <div class="terms-div">
                    <h2>3. 知识产权</h2>

                    <p>所有权：网站上的所有内容，包括文本、图形、徽标和软件，均为 ChineseFlix 或其许可人的财产，受版权、商标和其他知识产权法的保护。
                        有限许可：您被授予有限的、非排他性的、不可转让的许可，以个人、非商业目的访问和使用本网站。未经我们明确的书面许可，您不得复制、分发或根据内容创作衍生作品。</p>

                </div>

                <div class="terms-div">
                    <h2>4. 用户内容</h2>

                    <p>责任：您对提交给本网站的任何内容（包括评论、意见和评分）负全部责任。通过提交内容，您授予 ChineseFlix 全球范围内、免版税、永久和非排他性的许可，以使用、复制、修改和分发您的内容。
                        禁止的内容：您同意不提交任何非法、诽谤、淫秽或其他令人反感的内容。 </p>

                </div>
                <div class="terms-div">
                    <h2>5. 免责声明和责任限制</h2>

                    <p>免责声明：本网站以“原样”和“可用”为基础提供。我们不对本网站的运营或本网站所含信息、内容或材料提供任何明示或暗示的保证。
                        责任限制：在法律允许的最大范围内，ChineseFlix 不对您使用本网站而产生的任何损害负责，包括但不限于直接、间接、附带、惩罚性和后果性损害。</p>
                </div>

                <div class="terms-div">
                    <h2>6. 赔偿</h2>

                    <p>您同意赔偿并使 ChineseFlix、其关联公司及其各自的高级职员、董事、员工和代理人免受因您使用本网站或您违反这些条款而产生的任何索赔、责任、损害和费用。。</p>

                </div>
                <div class="terms-div">
                    <h2>7. 条款变更</h2>

                    <p>我们保留随时修改这些条款的权利。任何更改将在网站上发布后立即生效。在发布变更后，您继续使用本网站即表示您接受此类变更。</p>

                </div>

                <div class="terms-div">
                    <h2>8. 适用法律</h2>

                    <p>本条款应受 [您的司法辖区] 法律管辖并依其解释，而不考虑其法律冲突原则。</p>

                </div>


                <div class="terms-div">
                    <h2>9. 联系我们</h2>

                    <p>如果您对这些条款有任何疑问，请通过联系页面与我们联系。</p>

                </div>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </main>
    <script src="script.js"></script>
</body>

</html>