<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="update-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <nav id="mobile-nav-links-parent" class="mobile_navigation_links">
            <div id="mobile-nav-links-wrapper" class="mobile_display_flex_column">
                <a id="mobile-home-link" class="mobile-link" href="http://localhost:8080/"
                    target="_self"><span>家</span></a>
                <a id="mobile-about-link" class="mobile-link" href="http://localhost:8080/about"
                    target="_self"><span>关于我们</span></a>
                <a id="mobile-contact-link" class="mobile-link" href="http://localhost:8080/contact"
                    target="_self"><span>联系我们</span></a>
                <a id="mobile-subtitle-help-link" class="mobile-link" href="https://chineseflix.com/subtitles"
                    target="_self">
                    <span>字幕指南</span>
                </a>
            </div>
        </nav>
        <section id="update-status-container">

            <video autoplay muted playsinline loop>
                <source src="Many_Film_Reels.mp4" type="video/mp4">
                您的浏览器不支持视频标签。
            </video>
            <div id="update-heading-container">
                <div id="update-heading-parent">
                    <h2>亲爱的 CHINESEFLIX 社区：<br><br></h2>

                    <p class="check-back-text">希望这封信能找到你们一切安好。最近一段时间，可能有些朋友注意到，我们本月还没有推出任何新更新。我想在这里向大家说明一下情况。
                        最近，我一直在忙于完成一个重要的在线课程，以提高自己的技能，这样才能为大家带来更好的 CHINESEFLIX
                        体验。
                        <br><br>
                        虽然这花费了一些时间，但我相信这些新知识和想法将为未来的更新注入更多活力和惊喜。

                        感谢大家的理解和支持。在此期间，你们的耐心对我来说意义重大。请大家放心，我始终致力于为大家提供最佳的用户体验，未来的更新将会更加精彩。

                        谢谢你们一直以来的陪伴和支持。请继续关注我们的最新动态，我们会尽快带来令人期待的更新！
                        假期愉快！
                        <br><br>
                        最诚挚的问候，
                        <br><br>
                    </p>
                    <h4>
                        家好
                    </h4>

                </div>

            </div>
        </section>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
    </main>
    <%- include('./partials/events.ejs') %>
</body>

</html>